extends layout
block title 
  title Add Bath 
block content
  h1 Add new bath  
  form(method="POST" action="/profile/petProfile/#{_id}/addBath")
    label(for="date") Date * : 
      input#date(type="datetime-local" name="date" min="1920-01-01T00:00" max="2050-12-31T00:00" required)
    br
    label(for="description") Description : 
      input#description(type="text" name="description")
    br
    button(type="submit") Add bath   