extends layout
block title 
  title Add Pet 
block content
  h1 Add new pet  
  form(method="POST" action="/profile/addPet" enctype="multipart/form-data")
    label(for="name") Name*:
      input#name(type="text" name="name" required)
    br
    label(for="photo") Photo : 
      input#photo(type="file" name="photo")
    br
    label(for="breed") Breed* : 
      input#breed(type="text" name="breed" required)
    br
    label(for="weight") Weight in kg*: 
      input#weight(type="number" name="weight" required)
    br
    label(for="birthday") Birthday* : 
      input#birthday(type="date" name="birthday" min="1920-01-01" max="2021-12-31" required)
    br
    div Sex* : 
      input#male(type="radio" name="sex" value="male")
      label(for="male") Male  
      input#female(type="radio" name="sex" value="female")
      label(for="female") Female 
    button(type="submit") Add pet  