extends layout
block title 
  title Forget Password  
block content
  h1 Retreive Password
  if !msg 
    form(method="POST" action="/forgetPassword")
      label(for="email") Put your authentification email to send you a code :
        input#email(type="email" required name="email")
      br
      button(type="submit") Send  
  else  
    p= msg  
    form(method="POST" action="/forgetPassword")
      label(for="code") Write received code here :
      input#code(type="text" required name="code")
      br
      input(type="text" required name="accessCode" value="#{accessCode}" style="display: none")
      br
      input(type="text" required name="userEmail" value="#{email}" style="display: none")
      br
      button(type="submit") Send