extends layout
block title 
  title Forget Password  
block content
  h1 Retreive Password 
  form(method="POST" action="/forgetPassword")
    label(for="email") Put your authentification email to send you a code :
      input#email(type="email" required name="email")
    br
    button(type="submit") Send  