extends layout
block title 
  title Reset Password  
block content
  h1 Reset Password  
  form(method="POST" action="/resetPassword")
    input(type="text" name="email" value="#{email}" style="display:none")
    br
    label(for="password") New password :
      input#password(type="password" required name="password")
    br
    label(for="confirmPassword") Confirm new password: 
      input#confirmPassword(type="password" required name="confirmPassword")
    br
    button(type="submit") Reset