extends layout
block title 
  title Update Bath 
block content
  h1 Update bath  
  form(method="POST" action="/profile/petProfile/#{petId}/updateBath/#{bath._id}")
    label(for="date") Date : 
      input#date(type="datetime-local" name="date" min="1920-01-01T00:00" max="2050-12-31T00:00" required value="#{bath.date.toISOString().substring(0,16)}")
    br
    label(for="description") Description : 
      input#description(type="text" name="description" value="#{bath.description}")
    br
    button(type="submit") Update bath   